*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 900px;
  width: 100%;
  margin: 20px auto;
  text-align: center;
}
.grid {
  display: grid;
  place-items: center;
  margin-top: 20px;
}

.img {
  width: 100px;
  border-radius: 50%;
  overflow: hidden;
}
